<div class="fixer">
<div id="header"></div>
<ul class="list-unstyled" id="contents">
	<li>
		<a data-toggle="collapse" class="{% if page.title != "Welcome" %}collapsed{%endif%}" href="#welcome"><i class="fa fa-chevron-up fa-flip-vertical"></i></a>
		<a href="../documentation">Welcome</a>
		<ul id="welcome" class="collapse {% if page.title == "Welcome" %}in{% endif %}">
			<li>
				<a href="#0.1">Installing Labtrac</a>
			</li>
		</ul>
	</li>
	
	<li><a href="new-features">Whats New in Labtrac?</a></li>
	
	<li>
	
		<a data-toggle="collapse" class="{% if page.title != "Setup" %}collapsed{%endif%}" href="#setup"><i class="fa fa-chevron-up fa-flip-vertical"></i></a>
		<a href="setup">Getting Started</a>
			<ul id="getsta" class="collapse{% if page.title == "Getting Started" %}in{%endif%}">
				<li><a href="getting-started#1.2">Getting Started</a></li>
				<li><a href="getting-started#1.4">Adding Dentists</a></li>
				<li><a href="getting-started#1.5">Adding Products</a></li>
				<li><a href="getting-started#1.6">Adding Materials</a></li>
				<li><a href="getting-started#1.7">Adding a Job</a></li>
			</ul>
	</li>
	
	<li>
		<a data-toggle="collapse" class="{% if page.title != "System Settings" %}collapsed{%endif%}" href="#sysset"><i class="fa fa-chevron-up fa-flip-vertical"></i></a>
		<a href="system-settings">System Settings</a>
		<ul class="collapse {% if page.title == "System Settings" %}in{%endif%}" id="sysset">
			<li><a href="system-settings#2.1">Lab Details</a></li>
			<li><a href="system-settings#2.2">System Options</a></li>
			<li><a href="system-settings#2.3">Dentist Defaults</a></li>
			<li><a href="system-settings#2.4">Financial</a></li>
			<li><a href="system-settings#2.5">Order Enclosures</a></li>
			<li><a href="system-settings#2.6">Footnotes</a></li>
			<li><a href="system-settings#2.7">User Manager</a></li>
		</ul>
	</li>
	
	<li>
		<a data-toggle="collapse" class="{% if page.title != "Invoicing and Statements" %}collapsed{%endif%}" href="#invsta"><i class="fa fa-chevron-up fa-flip-vertical"></i></a>
		<a href="invoicing-statements">Invoicing and Statements</a>
		<ul id="invsta" class="collapse {% if page.title == "Invoicing and Statements" %}in{%endif%}">
			<li><a href="invoicing-statements#3.1">Invoice List</a></li>
			<li><a href="invoicing-statements#3.2">Invoice Manager</a></li>
			<li><a href="invoicing-statements#3.3">Statement Manager</a></li>
			<li><a href="invoicing-statements#3.4">Account Activity</a></li>
			<li><a href="invoicing-statements#3.5">End of Month Guide</a></li>
			<li><a href="invoicing-statements#3.6">CRM Studio and MyDentist Invoicing</a></li>
			<li><a href="invoicing-statements#3.7">Backup Module</a></li>
		</ul>
	</li>

		<li>
		<a data-toggle="collapse" class="{% if page.title != "Payment Entry" %}collapsed{%endif%}" href="#payent"><i class="fa fa-chevron-up fa-flip-vertical"></i></a>
		<a href="payment-entry">Payment Entry</a>
		<ul id="payent" class="collapse {% if page.title == "Payment Entry" %}in{%endif%}">
			<li><a href="payment-entry#4.1">Entering a Payment</a></li>
			<li><a href="payment-entry#4.2">Reversing a Payment</a></li>
		</ul>
	</li>
	</li>

	<li><a href="online">Online</a></li>
	<li><a href="pricing-wizards">Pricing Wizards</a></li>
	<li><a href="reports">Reports</a></li>
	<li><a href="videos">Videos</a></li>
	<li><a href="faqs">Frequently Asked Questions</a></li>
</ul>
</div>
